<div>
  <mat-card style="max-width: 480px" appearance="outlined">
    <mat-card-content>
      <div>
        <form [formGroup]="editUserFrom">
          <div>
            <label for="username">User Name</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              [(ngModel)]="editableUserData.username"
            />
          </div>
          <div>
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              [(ngModel)]="editableUserData.name"
            />
          </div>
          <div>
            <label for="email">Email </label>
            <input
              type="text"
              id="email"
              formControlName="email"
              [(ngModel)]="editableUserData.email"
            />
          </div>
          <div formGroupName="address">
            Address
            <div class="form-group">
              <label for="street">Street</label>
              <input
                type="text"
                name="street"
                formControlName="street"
                [(ngModel)]="editableUserData.address.street"
              />
            </div>
            <div class="form-group">
              <label for="suite">Suite</label>
              <input
                type="text"
                name="suite"
                formControlName="suite"
                [(ngModel)]="editableUserData.address.suite"
              />
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input
                type="text"
                name="city"
                formControlName="city"
                [(ngModel)]="editableUserData.address.city"
              />
            </div>
            <div class="form-group">
              <label for="zipcode">Pin Code</label>
              <input
                type="text"
                name="zipcode"
                formControlName="zipcode"
                [(ngModel)]="editableUserData.address.zipcode"
              />
            </div>
          </div>
          <div>
            <button type="submit" (click)="onSubmiteditUser()">Submit</button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
