<div>
  <header>
    <button (click)="routeToAddUser()">Add User</button>
  </header>
</div>
<div class="container responsive-grid">
  <mat-card *ngFor="let users of existingUsers; let index = index">
    <mat-card-header>
      <mat-card-title>{{ users.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button (click)="editUser(index, users)">Edit User</button>
      <button (click)="deleteUser(index)">Delete User</button>
    </mat-card-actions>
    <br />
    <mat-card-content>
      <br />
      <div>
        <strong><label for="name">Name</label></strong> {{ users.username
        }}<br />
        <strong><label for="username">Email</label></strong> {{ users.email
        }}<br />
        <div>
          <strong> Address</strong>
          <div>
            <strong><label for="street">Street</label></strong>
            {{ users.address.street }}<br />
          </div>
          <div>
            <strong><label for="suite">Suite</label></strong>
            {{ users.address.suite }}<br />
          </div>
          <div>
            <strong
              ><label for="city">City</label> {{ users.address.city }}</strong
            ><br />
          </div>
          <div>
            <strong><label for="zipcode">PinCode</label> </strong
            >{{ users.address.zipcode }}<br />
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
